.title {
  transition: opacity 1s cubic-bezier(0.4,0,0.2,1), transform 1s cubic-bezier(0.4,0,0.2,1);
  opacity: 1;
  transform: translateY(0);
}

.title--hidden {
  opacity: 0;
  transform: translateY(4rem);
}

.title--visible {
  opacity: 1;
  transform: translateY(0);
}
